<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sql映射文件，用于编写sql语句 -->
<mapper namespace="com.yefeng.message.mapper.ArticlesKindsMapper">

    <select id="findAllArticlesKinds"  resultType="com.yefeng.message.model.ArticlesKinds">
        select
        *
        from
        articlesKinds

    </select>

</mapper>